body {
background-color:rgb(189, 219, 189);
}
h1 {
    color:white;
    text-align: center;
}
p{
    font-family: sans-serif;
    font-size: 30px;
}
div{
    width: 400px;
    border: 15px solid green; 
    padding: 50px;
    margin: 30px;
}
